
body{
    background-image: url(../img/sakk\ hatter.jpg);
    background-size: cover;
    
    
}

.also-szegely {
    border-bottom: 10px solid #e0be5c;
}

.felso-szegely {
    border-top: 10px solid #e0be5c;
}

.jobb-szegely {
    border-right: 10px solid #e0be5c;
    width: 25px;
}

.bal-szegely {
    border-left: 10px solid  #e0be5c;
    width: 25px;

}

h1{
    text-align: center;
    font-family: monotype corsiva;
    font-size: 100px;
    margin: 50px;
}

.sarga{
    background:#f2df9c;
}

.barna{
    background: #8f2a0e;
  }

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
        
}

.tabla-hatter {
    background: url(../img/fa\ hatter\ szurke.jpg);
    width: 880px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
}

.fekete-bastya { 
    background-image: url(../img/fekete\ bastya.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.fekete-lo {
    background-image: url(../img/fekete\ lo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    
}

.fekete-futo {
    background-image: url(../img/fekete\ futo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

#fekete-kiraly {
    background-image: url(../img/fekete\ kiraly.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

#fekete-kiralyno {
    background-image: url(../img/fekete\ kiralyno.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.fekete-paraszt {
    background-image: url(../img/fekete\ paraszt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

tfoot th{
    transform: rotate(-180deg);
}


.forditva{
    transform: rotate(-180deg);
   
}

th{
    text-align: center;
    color: #f2df9c;
    height: 80px;
    width: 80px;
    
    
       
}

td{
    height: 80px;
    width: 80px;
}